
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body, html {
    font-family: sans-serif;
    margin: 0;
    background-color: #dbeeff;
}

/* title below the nav bar */
.container {
  position: relative;
  text-align: center;
  color: white;
}

header {
    height: 70px;
    background-color: #22292F;
    padding: 10px 0;
}
.menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index:20; /*stay on top*/
}
.logo-img {
    height: 50px;
}
.menu-icon {
    font-size: 2.4em;
    color: #ffffff;
    line-height: 50px;
}
nav {
    position: absolute;
    background-color: #3D4852;
    top:70px;
    left:0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
nav ul li {
    padding: 0 15px;
}
nav ul li a {
    display: inline-block;
    padding: 12px;
    /* Add your custom styles below to change appearance of links */
    color: #DAE1E7;
    text-decoration: none;
    letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
    color: #eb6f4a;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    max-height: 500px;
    padding: 15px 0;
    transition: all 0.5s;
}

@media (min-width: 1150px) { 
    .menu-icon {
        display: none;
    }
    nav {
        position: relative;
        top: -10px;
        background-color: transparent;
        z-index:20;
    }
    nav ul {
        max-height: 150px;
        padding: 15px 0;
        text-align: right;
        z-index:20;
    }
    nav ul li {
        display: inline-flex;
        padding-left: 20px;
        z-index:20;
    }
}

/*h1{
    font-size: 2.2em;
    text-align: center;
    padding: 60px 40px 30px;
    color: #3D4852;
    line-height: 1.2;
}*/
p{
    line-height: 1.6;
    font-size: 1.2em;
    padding: 0 40px;
    text-align: center;
    color: #3D4852;
}

/* Centered text */
.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
    margin: 0 auto;
    width: 65%;
    text-align: left;
}



h1 {
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #fff; /*#fff for white, #000 for black */
}

@media (min-width: 600px) { 
    h1 {
        display: block;
        text-align: center;
        font-size: 1.5em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        color: #fff; /*#fff for white, #000 for black */
    }
}

@media (min-width: 800px) { 
    h1 {
        display: block;
        text-align: center;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        color: #fff; /*#fff for white, #000 for black */
    }
}

h2 {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

table{
    display: inline;
    float: center;
    table-layout:fixed; /*mobile add*/
}

@media only screen and (max-width: 480px) { /*mobile add*/
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}

th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

th {
    color: #fff;
    background-color: #060477;
    font-weight: bold;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px 20px;
    text-align: left;
    overflow: hidden; /*mobile add*/
    text-overflow: ellipsis; /*mobile add*/
    word-wrap: break-word;/*mobile add*/
}



/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.content {
    margin: 0 auto;
    width: 65%;
    text-align: center;
}

.datacontent {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}


.plotdiv {
    float: center;
    display: block;
    position: static;
}



tr:nth-child(odd) {background-color: #aaaaaa;}
tr:nth-child(even) {background-color: #dadada;}

tr:hover {
    color: #fff;
    background-color: #060477;
    font-weight: bold;
}

tr:hover a { color: white; }



/* Colors: pewter blue (76949F), gold (A08103), navy blue (060477), green sheen 86BBBD), onyx (303633)  */