{% extends 'base.html' %}


{% block head %}
<title>Current Weather</title>
<h1>Current Weather</h1>
{% endblock %}

{% block body %}
<div class="datacontent">
    
        
    {% if lightningtext %}
    <h3>{{lightningtext}}</h3>
    {% endif %}
    
	<h2>Current Conditions ({{gpstext}})</h2>
    
    <table>
		<tr>
			<th>Updated:</th>
			<th>{{ lastob.date.strftime("%Y-%m-%d %H:%M") }}</th>
		</tr>
		<tr>
			<td>Temperature (<sup>o</sup>F):</td>
			<td>{{ round(lastob.temp,1) }}</td>
		</tr>
		<tr>
			<td>Humidity (%):</td>
			<td>{{ round(lastob.rh,1) }}</td>
		</tr>
		<tr>
			<td>Pressure (mb):</td>
			<td>{{ round(lastob.pres,1) }}</td>
		</tr>
		<tr>
			<td>Wind Speed / Gust (mph):</td>
			<td>{{ round(lastob.wspd,1) }} / {{ round(lastob.wgust,1) }}</td>
		</tr>
		<tr>
			<td>Wind Direction (<sup>o</sup>T):</td>
			<td>{{ round(lastob.wdir,1) }}</td>
		</tr>
		<tr>
			<td>Rainfall (mm/hr):</td>
			<td>{{ round(lastob.precip,1) }}</td>
		</tr>
		<tr>
			<td>Lightning (strikes/hr):</td>
			<td>{{ round(lastob.strikes,1) }}</td>
		</tr>
	</table>
    <br></br>
    <br></br>
    
    <h2 style="text-align:center">Recent Observations</h2>
    <div class="plotdiv">
        {{ div_plot | safe }}
    </div>
    <br></br>
    <br></br>
    
    <div style='overflow-x:auto'>
        <table>
            <thead>
                <tr>
        			<th>Date/Time (UTC)</th>
        			<th>Temperature (<sup>o</sup>F)</th>
        			<th>Humidity (%)</th>
        			<th>Pressure (mb)</th>
                    <th>Wind Speed/Gust (mph)</th>
                    <th>Wind Direction (<sup>o</sup>T)</th>
                    <th>Rainfall (mm/hr)</th>
                    <th>Lightning (strikes/hr)</th>
        		</tr>
            </thead>
            <tbody>
                {% for cob in tableobs %}
                <tr>
        			<td>{{ cob.date.strftime("%Y-%m-%d %H:%M") }}</td>
        			<td>{{ round(cob.temp,1) }}</td>
        			<td>{{ round(cob.rh,1) }}</td>
        			<td>{{ round(cob.pres,1) }}</td>
        			<td>{{ round(cob.wspd,1) }} / {{ round(cob.wgust,1) }}</td>
        			<td>{{ round(cob.wdir,0) }}</td>
        			<td>{{ round(cob.precip,1) }}</td>
        			<td>{{ round(cob.strikes,0) }}</td>
        		</tr>
                {% endfor %}
            </tbody>
    	</table>
    </div>
    
</div>
{% endblock %}
