{% extends 'base.html' %}


{% block head %}
<title>Historical Observations</title>
<h1 style="text-align:center">Historical Observations</h1>
{% endblock %}

{% block body %}
<div class="datacontent">
    <div class="form">
		<form action="/historical" method="POST">
			<input type="date" name="start" id="start">
            -to-
			<input type="date" name="end" id="end">
			<input type="submit" value="View Observations">
		</form>
	</div>
    <div class="plotdiv">
        {{ div_plot | safe }}
    </div>
    <br></br>
    <br></br>
    
    <table>
        <thead>
            <tr>
    			<th>Date/Time (UTC)</th>
    			<th>Temperature (<sup>o</sup>F)</th>
    			<th>Humidity (%)</th>
    			<th>Pressure (mb)</th>
                <th>Wind Speed (mph)</th>
                <th>Wind Direction (<sup>o</sup>T)</th>
                <th>Rainfall (mm/hr)</th>
                <th>Lightning (strikes/hr)</th>
    		</tr>
        </thead>
        <tbody>
            {% for cob in tableobs %}
            <tr>
    			<td>{{ cob.date.strftime("%Y-%m-%d %H:%M") }}</td>
    			<td>{{ round(cob.temp,1) }}</td>
    			<td>{{ round(cob.rh,1) }}</td>
    			<td>{{ round(cob.pres,1) }}</td>
    			<td>{{ round(cob.wspd,1) }}</td>
    			<td>{{ round(cob.wdir,0) }}</td>
    			<td>{{ round(cob.precip,1) }}</td>
    			<td>{{ round(cob.strikes,0) }}</td>
    		</tr>
            {% endfor %}
        </tbody>
	</table>
    
</div>
{% endblock %}
