{% extends 'base.html' %}


{% block head %}
<title>How to Build</title>
<h1 style="text-align:center">How to Build</h1>
{% endblock %}

{% block body %}
<div class="content">
	<h2 style="text-align:center">Introduction</h2>
    First of many sections about the arduous journey here (and now I'm adding more text to see what happens when I make this part longer). How far does this section expand? Writing more things to fill space I could probably start writing about this project but I don't feel like it so this is what you get for now. And this is probably a good first paragraph.
    But wait there's more!! I'm Billy Mays back from the fucking dead with random text to test out my HTML/CSS/Javascript/Python/whatever the hell else because why not include as many languages in a single project as possible. Maybe I'll try to work in some MATLAB or COBOL for shits and giggles. This should be enough text to test my CSS template though.
    
    <h2 style="text-align:center">Materials</h2>
    What all was required
    
    <h2 style="text-align:center">Setting up the Raspberry Pi</h2>
    Details here
    
    <h2 style="text-align:center">Programming the Pi to Log Temperature, Humidity and Pressure</h2>
    Details here
    
    <h2 style="text-align:center">Connecting to a GPS</h2>
    Details here
    
    <h2 style="text-align:center">Anemometer</h2>
    Details here
    
    <h2 style="text-align:center">Wind Direction</h2>
    Details here
    
    <h2 style="text-align:center">Rain Gauge</h2>
    Details here
    
    <h2 style="text-align:center">Camera (Time Lapse Photography)</h2>
    Details here
    
    <h2 style="text-align:center">Lightning Sensor</h2>
    Details here
    
    <h2 style="text-align:center">Packaging for the Outdoors</h2>
    Details here
    
</div>
{% endblock %}
